<h1>Login</h1>
<form class="login-form">
  <label for="username-login">Username:</label>
  <input type="text" id="username-login" name="username" required>
  
  <label for="password-login">Password:</label>
  <input type="password" id="password-login" name="password" required>
  
  <button type="submit">Login</button>
</form>
<script src="/js/login.js"></script>
